# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

PORT=3001

NODE_ENV=development
APP_NAME=booking
PWD=
API_PREFIX=api
FRONT_END_URL=

DATABASE_URL=

AUTH_JWT_SECRET=
AUTH_JWT_TOKEN_EXPIRES_IN=
AUTH_REFRESH_SECRET=
AUTH_REFRESH_TOKEN_EXPIRES_IN=

MAILER_PORT=
MAILER_HOST=
MAILER_USER=
MAILER_PASSWORD=
MAILER_DEFAULT_EMAIL=
MAILER_DEFAULT_NAME=
MAILER_IGNORE_TLS=
MAILER_SECURE=
MAILER_REQUIRE_TLS=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
